MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=earthquake_db
MYSQL_USER=root
MYSQL_PASSWORD=

USGS_API_URL=https://earthquake.usgs.gov/fdsnws/event/1/query
OPEN_METEO_API_URL=https://archive-api.open-meteo.com/v1/archive
NASA_POWER_API_URL=https://power.larc.nasa.gov/api/temporal/daily